BasedOnStyle: LLVM
Language: Cpp

Standard: c++20

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 0
ReflowComments: false

PointerAlignment: Left
ReferenceAlignment: Left

NamespaceIndentation: None
IndentCaseLabels: true
AccessModifierOffset: -4

SortIncludes: false
IncludeBlocks: Preserve

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline

SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true

AlignAfterOpenBracket: Align
AlignOperands: true
AlignTrailingComments: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

BinPackArguments: false
BinPackParameters: false

FixNamespaceComments: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2