[submodule "biovault_bfloat16"]
	path = HDPS/external/biovault/biovault_bfloat16
	url = https://github.com/biovault/biovault_bfloat16
[submodule "advanced_docking"]
	path = HDPS/external/advanced_docking
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System/
[submodule "HDPS/external/quazip"]
	path = HDPS/external/quazip
	url = https://github.com/stachenov/quazip.git
