QWidget#PopupWidget {
    border: 1px solid grey;
}

QPushButton {
    qproperty-iconSize: 12px;
    height: 18px;
}

QComboBox {
    padding-left: 5px;
    margin: 0px;
    height: 20px;
}

QSpinBox, QDoubleSpinBox {
}

QLineEdit {
}

QLineEdit:read-only {
    background: rgb(230, 230, 230);
}

QToolButton {
    width: 18px;
    height: 18px;
    qproperty-iconSize: 12px;
}